---
layout: archive
title: "Tutorials"
permalink: /tutorials/
author_profile: true
author: "Cisco Programmability Team"
---

{% include base_path %}

{% assign grouped_by_category = site.tutorials | group_by: "category" %}

{% for category_group in grouped_by_category %}
  <h2 id="{{ category_group.name | slugify }}" class="archive__subtitle">{{ category_group.name }}</h2>
  <ul>
  {% for post in category_group.items %}
    {% if post.position == "top" %}
      {% include archive-techdocs.html %}
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
